@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 15px;
    background-color: black;
}

@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }